/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
	--fc-small-font-size: .85em;
	--fc-page-bg-color: #fff;
	--fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
	--fc-neutral-text-color: #808080;
	--fc-border-color: #ddd;
  
	--fc-button-text-color: #ffffff;
	--fc-button-bg-color: #1a1b5a;
	--fc-button-border-color: rgb(250, 250, 250);
	--fc-button-hover-bg-color: #142e79;
	--fc-button-hover-border-color: #000000;
	--fc-button-active-bg-color: #1a252f;
	--fc-button-active-border-color: #151e27;
  
	--fc-event-bg-color: #698cff;
	--fc-event-border-color: rgb(41, 61, 116);
	--fc-event-text-color: #fdfdfd;
	--fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
	--fc-more-link-bg-color: #d0d0d0;
	--fc-more-link-text-color: inherit;
  
	--fc-event-resizer-thickness: 8px;
	--fc-event-resizer-dot-total-width: 8px;
	--fc-event-resizer-dot-border-width: 1px;
  
	--fc-non-business-color: rgba(215, 215, 215, 0.3);
	--fc-bg-event-color: rgb(143, 223, 130);
	--fc-bg-event-opacity: 0.3;
	--fc-highlight-color: rgba(188, 232, 241, 0.3);
	--fc-today-bg-color: rgba(255, 220, 40, 0.15);
	--fc-now-indicator-color: red;

	.fc-event {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.fc{
		background-color: rgb(255, 255, 255);
	}
	.fc-scrollgrid-sync-inner{
		background-color: rgb(255, 255, 255);
	}
	.fc a{
		color:black;
		text-decoration: none;
	}
	.fc button{
		color:white;
		margin: 2px;
		border-radius: 10px;
	}
	.fc-event{
		cursor: pointer;
	}
  }
